<template name="settingsActive"> 
<div class="container">	

	<div class="app-header"><h1>Select an activity.</h1></div> 

	<div class="app-body">
		
		<ul>
		  	{{#each activity}}
			 	<li class="menu activity {{isActivitySelected}}">{{name}}<!--<a href="" class="btn btn-default btn-small deleteActivity" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>--></li>
		  	{{/each}}
	 		

			<li class="menu" id="addActivity" data-toggle="modal" data-target="#modal-add-activity"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Activity</li> 
	 		
	 	</ul>
	 	
	</div>
	
 	<div class="app-footer">
 		{{> btnBack label="Back" path="home"}}
 	</div>

 	{{> newActivityModal}}

</div>
</template>


<template name="newActivityModal"> 
	<!-- From http://www.w3schools.com/bootstrap/bootstrap_modal.asp --> 

	<!-- Modal -->
	<div id="modal-add-activity" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button> <!-- &times is multiply symbol aka an 'x'--> 
	        <h4 class="modal-title">New Activity</h4>
	      </div>
	      <div class="modal-body">
	        <form id="form-set-session-name">
	        	<input id="activityNameTextbox" type="text" name="activityName" required> 
	      		<button id="btn-create-activity" type="submit" name="submit" class="btn btn-success btn-lg" role="button" data-dismiss="modal"> 
					Create activity
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div>

	  </div>
	</div>

</template>

