<template name="sessionSummary"> 
<div class="container">	
	<div class="app-header">
		<h1>Summary of <span style="font-style: italic;">{{sessionName}}</span></h1>
	</div>

	<div class="app-body">
		<h3 style="font-style: italic;">Engagement over time</h3>
		<h6 style="font-style: italic;">Chart won't render correctly if session only contains one datapoint.</h6>
		<div id="chart-wrapper">
			{{> chart}}
		</div>
	</div>
	
	<div class="app-footer">
		{{> btnBack label="OK" path="sessionList"}}
	</div>
</div>
</template>

<template name="chart"> 
	<!-- Chart.js chart -->  
	<canvas id="myChart" width="400" height="400"></canvas> 
</template>