<template name="timer"> 
<div class="container">	
	
	<!-- Pause button. Not functional.
	<a href="" data-toggle="modal" data-target="#modal-pause-session" role="button"> 
		<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
	</a>
	-->

	
	<!-- name of session --> 
	<div class="app-header">
		<h1>{{sessionName}}</h1>
	</div> 

	<div class="app-body" style="margin-top: 64px;">
		<h3>
			{{#if session "isActiveObservation"}}
				Active Mode<br>
				<span style="font-style: italic">Intended Activity: </span>{{intendedActivityName}} 
			{{else}}
				Passive Mode
			{{/if}}
		</h3> 

		<div class="timer-area" style="margin-top: 10px;">
			<!-- time to next activity -->
			<!--<h3>Time to next query</h3>-->
			{{> queryCountdown}}
		</div>
	</div>

	<div class="app-footer">
		<!-- stop button--> 
		<button id="btn-stop" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modal-stop-session" role="button">
	  		Stop <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
		</button>	
	</div>
	
	{{> pauseSessionModal}}
	{{> stopSessionModal}}
	{{> queryModal}}

</div>
</template>

<template name="pauseSessionModal"> 

	<!-- Modal -->
	<div id="modal-pause-session" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Session paused.</h4>
	      </div>
	      <div class="modal-body">
	        <button class="btn btn-success btn-lg" data-dismiss="modal">RESUME</button>  
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>

	  </div>
	</div>

</template>

<template name="stopSessionModal"> 

	<!-- Modal -->
	<div id="modal-stop-session" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Are you sure you want to end the session?</h4>
	      </div>
	      <div class="modal-body">
	        <button class="btn btn-default btn-lg" data-dismiss="modal" onclick="switchPageWait('sessionSummary');">Yes</button>  <!-- needs to be a link--> 
	        <button class="btn btn-primary btn-lg" data-dismiss="modal">No</button>  
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>

	  </div>
	</div>

</template>

<!-- rendering of countdown timer -->
<template name="queryCountdown">
	<div id="container">
		<span id="timerText"><h1 id="count">{{timeRemaining}}</h1><h5 id="caption" style="font-style: italic;">Time to next query</h5></span>
		
		<!--Actual rendered timer--> 
		{{chartUpdate}} <!-- updates the chart; kind of hacky --> 
		<div id="chartContainer"> <!-- resizing chart container resizes canvas; too finnicky; didn't have time to make it work --> 
			<canvas id="timerChart" width="400px" height="400px"></canvas>
		</div>
	</div>
</template> 

<template name="queryModal"> 

	<!-- Modal -->
	<div id="modal-query" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Activity Query</h4>
	      </div>
	      <div class="modal-body">
	        <div id="view-first" class="view-div">
	        	{{#if session "isActiveObservation"}}
	        		{{> procrastinationQuery}}
	        	{{else}}
	        		{{> activityQuery}}
	        	{{/if}}
	        </div>
	        <div id="view-engagement" class="view-div">
	        	{{> engagementForm}}
	        </div>
	        <div id="view-mood" class="view-div">
				{{> moodForm}}
	        </div>
	        <div id="view-actual-activity" class="view-div"> 
	        	{{> activityQuery}}
	        </div>  
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>

	  </div>
	</div>
</template>

<template name="procrastinationQuery"> 
	<h4>Are you {{intendedActivity}}?</h4>
	<button id="btn-working-yes" class="btn btn-primary btn-lg">Yes</button>  
	<button id="btn-working-no" class="btn btn-warning btn-lg">No</button> 
</template>

<template name="activityQuery"> 
	<h4>What are you doing right now?</h4>
	{{> scrollableDropdown}}
</template>

<template name="scrollableDropdown"> 
	<!--<h2 class="bold">Scrollable Menu</h2>-->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Activity <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
            {{#each activity}}
		 		<li><a href="#">{{name}}</a></li>
	  		{{/each}}
        </ul>
    </div>
    <!--http://www.bootply.com/Nqcxly5Ngf#-->
</template>

<template name="engagementForm">
	<h4>How engaged are you with {{activity}}?</h4> 
	<ul class="inline-scale"> <!-- as in 'on scale of 1 to 5'--> 
		{{#each scale}}
			<li class="scale-degree"><span class="glyphicon glyphicon-unchecked" data-value="{{this}}"></span></li>
		{{/each}}
	</ul>
</template>

<template name="moodForm">
	<h4>How are you feeling?</h4> 
	<ul class="inline-scale"> <!-- as in 'on scale of 1 to 5'--> 
		{{#each scale}}
			<li class="scale-degree">
				<img src="/images/smiley_mood_{{this}}.png" data-value="{{this}}">
			</li>
		{{/each}}
	</ul>
	<!-- smiley face images from http://possibilitiesforlearning.com/wp-content/uploads/2013/01/Smiley-Face-rating-scale1.png --> 
	<!--http://stackoverflow.com/questions/21341291/how-to-serve-static-content-images-fonts-etc-using-iron-router-->
</template>

