<!-- Code from Patrick. --> 

<template name="login">
  <div class="center-outer">
    <div class="center-middle">
      <div class="center-inner">
        <div class="container">
          <div class="panel panel-info">
            <div class="panel-heading"><h2>SIGN IN</h2></div>
            <div class="panel-body">
              {{> atForm}} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="loginCheck">
	{{#if currentUser}}
		<a href="{{ pathFor 'home' }}" class="btn btn-default btn-lg" role="button">
  			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>Enter
		</a>
		{{else}}
		<p>Log in to continue.</p>
	{{/if}}
</template> 