<!-- Code modified from Patrick's source. --> 

<template name="login">
  <div class="center-outer">
    <div class="center-middle">
      <div class="center-inner">
        <div class="container">
          <div class="panel panel-info">
            <div class="panel-heading"><h2>SIGN IN</h2></div>
            <div class="panel-body">
              {{> loginButtons}} <!-- looks like crud, but it's all I could get to work. --> 
              <!-- {{> atForm}} just doesn't work. No idea why. Empty div.-->   
              {{> loginCheck}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="loginCheck">
	{{#unless currentUser}}
		<h3>Log in to continue.</h3>
	{{/unless}}
</template> 